@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  padding: 0%;
  margin: 0%;
  border: 0cap;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  margin-bottom: 20px;
}

.headerImg {
  margin-top: 20px;
  margin-left: 20px;
  width: 207px;
  height: 60px;
}

.decorationBar{
  width: 100%;
  height: 5px;
  background-color: rgb(234, 233, 233);
  margin-bottom: 20px;
}

button{
  width: 150px;
  height: 40px;
  font-size: 20px;
  margin-inline: 10px;
  color: #0A99FE;
  background-color: rgba(0, 153, 254, 0.1); 
  border-radius: 5px;
  border-color: white;
  border-style: none;
} 

button:hover{
  color: white;
  background-color: #0A99FE;
}

.botoes {
  margin-right: 40px;
  margin-top: 20px;
}

main{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  /* margin-right: 10%; */
}

.Paintings{
  margin-top: 50px;
  margin-bottom: 50px;
}

.ActionFigure{
  margin-top: 50px;
  margin-bottom: 50px;
}

section {
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  /* margin-left: -50px; */
  text-align: center;
  /* background-color: violet; */
}


h2 {
  font-size: 20px;
  font-style: normal;
  margin-left: 40px;
}

.card img {
  width: 207px; 
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 10px;
}

.card name{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: medium;
  color: #1B1B1B;
}

.card price {
  font-size: 16px;
  font-style: normal;
  color: #868383;
  margin-top: 5px;
}

.card {
  align-items: center;
  width: 207px;
  height: 275px;
  border-radius: 5px;
  margin-left: 40px;
  margin-inline: 20px;
  background-color: rgb(186, 184, 184);
 
}
